.banner-footer {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.banner-footer__copyright {
  color: @f-grey;
}

.banner-footer__contacts {
  font-size: 13px;
}
