.slider-item {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  mix-blend-mode: normal;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: @f-white;

  transition-duration: 0ms;
  transform: translate(0px, 0px) translateZ(0px);
}

.slider-item__wrapper {
  padding-top: 236px;
  padding-right: 96px;
  padding-bottom: 20px;
  padding-left: 96px;
}

.slider-item__title {
  font-size: 40px;
}

.slider-item__text {
  font-size: 24px;
}
